div h1 {
  text-align: center;
}

.carousel-container {
  position: relative;
}

.carousel {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 50%;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

img {
  width: 100%;
  height: auto;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}


.dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

.dot-center {
  text-align: center;
  margin-top: 10px;
}